@import "tailwindcss";

@theme {
  --color-brand-primary: #1F2E24;
  --color-brand-secondary: #4A3020;
  --color-brand-accent: #D4B872;
  --color-brand-accent-hover: #e0c88b;
  --color-brand-bg: #FDFCF0;
  --color-brand-text: #333333;
  --color-brand-muted: #666666;
  --color-brand-light: #F4F1E1;
  --color-brand-border: #E5E0D0;

  --font-serif: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}
